:root {
  --primary-font: "Inter", sans-serif;
}

html {
  font-size: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--primary-font);
}

.container {
  width: 75%;
  min-height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
  align-items: center;
}

#widget {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

ul {
  max-width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

li {
  margin-left: 0.5rem;
  border-left: 1px solid;
  padding: 0.5rem;
}

li button {
  margin: 0 0.5rem;
}

textarea {
  border: 0;
  border-radius: 0.5rem;
  padding: 0.45rem;
  font-size: 1rem;
  font-family: var(--primary-font);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.comment-form,
.reply-form {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.comment-form textarea {
  width: 22rem;
  height: 7.5rem;
}

.reply-form {
  margin-top: 0.5rem;
}

.reply-form textarea {
  width: 15rem;
  height: 5.5rem;
}

.reply-form button {
  margin: 0;
}

.reply-form .controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

button {
  border: 0;
  padding: 0.45rem;
  border-radius: 0.3rem;
  font-family: var(--primary-font);
  cursor: pointer;
  background-color: #ffc800;
  transition: all 150ms ease-in-out;
}

button:hover {
  background-color: #f7c203;
}
